body{

  background-color: #fce6e4;
}
.pars{

  font-family: 'Pacifico', cursive;
  color: #D95245;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}


h1{
  text-align: center;
  color: #FFAED3;
}
img{

height: 200px;


}

table{

  margin-left: auto;
  margin-right: auto;
}
.linktoindex{

  text-align: center;
  font-size: 100px;
  margin: 0;
  text-align: center;
}
.position {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.lockscreen{

  height: 400px;
  width: auto;
}

a{
  color: #FD8377;
  text-decoration: none;
  text-align: center;
}
